  <div class="row"> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/fot perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <h3 id="nombre">{{persona.nombre}}{{persona.apellido}}</h3>
      <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1>Sobre mi</h1>
        <h2>Dentro de mi trayectoria profesional, aprendi varios rubros, desde la atención al cliente, hasta el diseño grafico y ahora la programación. Me gusta capacitarme y superar desafios </h2>
      </span>
    </div>
  </div>
