  <div class="row"> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/fot perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <h3 id="nombre">Damián López</h3>
      <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1>Acerca de Mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ab laboriosam, itaque voluptatem ea nihil assumenda accusamus perferendis mollitia at dolor vitae. Quo est maxime doloribus consequatur, quam modi quod.</p>
      </span>
    </div>
  </div>
