<div class="row">
   <h1>Experiencia laboral</h1>
   <div class="col-lg-1"></div>
   <div class="col-lg-11">
       <ul>
         <li><h1>Bingo Codere</h1> - <h3>(2008-2013)</h3></li>
          <p>Cajero en el sector de Maquinas: Encargado de administración de caja y pagos de Premios</p>
       </ul>
       <ul>
        <li><h1>Miliavaca</h1> - <h3>(2012-2020)</h3></li>
         <p>Atención al Cliente: Encargado del sector grafico y atención al cliente</p>
      </ul>
      <ul>
        <li><h1>Wipex taller visual</h1> - <h3>(2020,2023)</h3></li>
         <p>Impresiones al Gremio: Manejo de impresora UV ucjv300 Mimaki, encargado de recepción de archivos y diseños graficos</p>
      </ul>
   </div>
</div>