<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
          <li><h1>Bachiller en ciencias económicas</h1> - <h3>(2003-2006)</h3></li>
           <p>Escuela Media Nº2 - Guernica</p>
        </ul>
        <ul>
         <li><h1>Contador Público</h1> - <h3>(2013-2014)</h3></li>
          <p>Universidad de Lomas de Zamora</p>
       </ul>
       <ul>
         <li><h1>Tecnicartura en Programación</h1> - <h3>(2022-actual)</h3></li>
          <p>En la Universidad de Almirante Brown Unab.</p>
       </ul>
    </div>
 </div>